In [1]:
import numpy as np

In [2]:
myarr = np.array([3,135,1,435,12])
# This is numpy 1D array

In [3]:
myarr2 = np.array([[23,132,1,4,34,41]])
# This is numpy 2d array

In [4]:
myarr

array([  3, 135,   1, 435,  12])

In [5]:
myarr[3]  # Accessing numpy array element

435

In [6]:
myarr.shape
# given 5 column 0 row

(5,)

In [7]:
myarr2.shape
# Given 1 row 6 column

(1, 6)

In [8]:
myarr2.dtype
# Given data type of the array

dtype('int32')

In [9]:
myarr2[0,3] = 400
# Changing element of array

In [10]:
myarr2

array([[ 23, 132,   1, 400,  34,  41]])

## Array Creation : COnversion From Other Python Structure

In [11]:
listarray = np.array([[1,2,3],[4,5,6],[7,8,9]]) #Creating 2d array

In [12]:
listarray

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [13]:
listarray.shape

(3, 3)

In [14]:
listarray.dtype

dtype('int32')

In [15]:
listarray.size

9

In [16]:
Zeros_arr = np.zeros((2,5))
# Creating Zeros array with 2 rows and 5 column

In [17]:
Zeros_arr

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [18]:
Zeros_arr.dtype

dtype('float64')

In [19]:
Ones_arr = np.ones((2,5))
# Creating ones array with 2 rows and 5 column

In [20]:
Ones_arr

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [21]:
Ones_arr.dtype

dtype('float64')

In [22]:
rng = np.arange(1,26)
rng
# This command will print numbers from 1 to 25

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25])

In [23]:
emp = np.empty((6,5))
emp

array([[6.93464175e-313, 9.73309322e-322, 0.00000000e+000,
        0.00000000e+000, 2.22522868e-306],
       [5.02034658e+175, 4.01347099e-057, 2.83304289e-032,
        2.59070824e+184, 5.98249729e+174],
       [5.83778979e-144, 1.12855837e+277, 6.32672840e+180,
        2.66371964e+233, 5.04621361e+180],
       [8.37170571e-144, 3.80985069e+180, 9.30537467e+199,
        1.00516865e-070, 7.23719712e+169],
       [6.70514634e+170, 1.65753318e-076, 4.30511990e-096,
        8.37170584e-144, 5.27485031e-091],
       [4.91699856e-062, 2.57893708e-057, 5.74020278e+180,
        8.37174974e-144, 6.81693983e-310]])

In [24]:
emp_like = np.empty_like(Ones_arr)
emp_like

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [25]:
ide = np.identity(4)
ide
# array = 4 x 4

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [26]:
arange = np.arange(12)

In [27]:
arange = arange.reshape(3,4)
# This will reshape the array into 3 rows and 4 column

In [28]:
arange

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [29]:
emp.ravel()
# Convert the array into 1d array

array([6.93464175e-313, 9.73309322e-322, 0.00000000e+000, 0.00000000e+000,
       2.22522868e-306, 5.02034658e+175, 4.01347099e-057, 2.83304289e-032,
       2.59070824e+184, 5.98249729e+174, 5.83778979e-144, 1.12855837e+277,
       6.32672840e+180, 2.66371964e+233, 5.04621361e+180, 8.37170571e-144,
       3.80985069e+180, 9.30537467e+199, 1.00516865e-070, 7.23719712e+169,
       6.70514634e+170, 1.65753318e-076, 4.30511990e-096, 8.37170584e-144,
       5.27485031e-091, 4.91699856e-062, 2.57893708e-057, 5.74020278e+180,
       8.37174974e-144, 6.81693983e-310])

In [30]:
x = np.array([[1,2,3],[4,5,6],[7,1,0]])
x

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [31]:
x.sum(axis=0) # row wise

array([12,  8,  9])

In [32]:
x.sum(axis=1) # Column wise

array([ 6, 15,  8])

In [33]:
x = x.T # This will transpose the array mean column into row and row into column

In [34]:
x

array([[1, 4, 7],
       [2, 5, 1],
       [3, 6, 0]])

In [35]:
for i in x.flat:
    print(i)

1
4
7
2
5
1
3
6
0

In [36]:
x.ndim
# This will print the dimension of the array

2